<%= form_with(model: graph) do |form| %>
  <% if graph.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(graph.errors.count, "error") %> prohibited this graph from being saved:</h2>

      <ul>
        <% graph.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :list_order, style: "display: block" %>
    <%= form.number_field :list_order %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
