<p style="color: green"><%= notice %></p>

<div style="display: grid;justify-content: center;">
<h1>Graphs</h1>

<h3> Goals in db: <%= Goal.count %> </h3>
<h3> Profits in db: <%= GoalProfit.count %> </h3>
<span style="padding-left: 11%;">
<%= button_to "Refresh Info", {:controller => "graphs", :action => "refresh_goals_info"} ,remote: :true %> 
</span>
</div>
<div id='graphs'>
  <% @graphs.each do |graph| %>
    <%= render graph %>
    <p>
      <%= link_to "Show this graph", graph %>
    </p>
  <% end %>
</div>



<div class= "mini-body" style="margin: 75px 6%">
<div style="display: flex;align-items: center;justify-content: space-between;">
<%= line_chart @gpa, width: "40%", height: "500px", min: 0 %>

<%= column_chart @gpa, width: "40%", height: "500px", min: 0, discrete: true %>

<%= line_chart GoalProfit.where(goal_id: Goal.find_by(name: "Savings").id).pluck(:id, :profit), width: "40%", height: "500px", min: 0 %>
</div>
</div>

